.navbar-custom {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--tw-color-cyan-800) / var(--tw-bg-opacity));
  display: flex;
  padding: var(--tw-size-3);
  justify-content: space-between;
  --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

.navbar-link:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--tw-color-teal-900) / var(--tw-bg-opacity));
}

.navbar-link:active {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--tw-color-teal-900) / var(--tw-bg-opacity));
}
.navbar-link {
  /* --tw-size-3: 0.75rem; */
  border-radius: var(--tw-border-radius-sm);
  padding: var(--tw-size-3);
}
