div.about-text:hover {
  --tw-translate-x: var(--tw-size-4);
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

div.about-text {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-timing-function: linear;
  /* Unknown class .time */
}

/* styling porto card */
.porto-card {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-top-left-radius: 50px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 30px;
}

.porto-card-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.porto-card-image img {
  width: 100%;
  max-height: 450px;
  object-fit: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 30px;
}

.porto-card-description {
  /* width: 50rem; */
  margin-inline: auto;
  /* overflow: scroll; */
  overflow-y: auto;
  padding-inline: 5rem;
  height: 150px;
  max-height: 170px;
}

.porto-card-description2 {
  /* width: 50rem; */
  margin-inline: auto;
  /* overflow: scroll; */
  overflow-y: auto;
  padding-inline: 5rem;
  height: 250px;
  max-height: 270px;
}

@media screen and (max-width: 768px) {
  .porto-card-description {
    text-align: left;
    padding-inline: 0.2rem;
    height: 150px;
    max-height: 150px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  .porto-card-description {
    text-align: left;
    padding-inline: 0.2rem;
    height: 250px;
    max-height: 250px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
}

.porto-card-tech {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-context {
  display: inline-block;
  margin-inline: 3px;
}

.porto-card-image {
  cursor: pointer;
  transition: transform 1s ease-in-out;
  scale: 1;
}

.porto-card-image:hover {
  transform: scale(1.1);
  transition: transform 1s ease-in-out;
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background: linear-gradient(90deg, #000 50%, #0000 0) right/200% 100%;
  animation: l21 2s infinite linear;
}
.loader::before {
  content: "Loading...";
  color: #0000;
  padding: 0 5px;
  background: inherit;
  background-image: linear-gradient(90deg, #fff 50%, #000 0);
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes l21 {
  100% {
    background-position: left;
  }
}
